body
{
	background: aqua;
}
.maindiv{
	background:  bisque;
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
	margin: 2%;
	border-radius: 5%;
}
.subdiv1{
	background: orange;
	margin: 3%;
	width: 27%;
	border-radius: 5%;
	text-align: center;
	height: 50%;
	
}
.subdiv2{
	background: #A31986;
	margin: 6%;
	width: 80%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
}


img{
		height: 36%;
		width: 60%;
		margin-top: 10%;
		margin:5%;
	}
	ul
	{
		text-align: left;
	}
	/*mobile*/
	@media screen and  (min-width: 320px) and (max-width: 480px){
	body
{
	background: #26A13B;
}
.maindiv{
	background:  #2E1FAB;
	display: inline-block;
	justify-content: space-between;
	justify-content: space-around;
	margin: 2%;
	border-radius: 5%;
}
.subdiv1{
	background: #19A388;
	margin: 3%;
	width: 91%;
	border-radius: 5%;
	text-align: center;
	height: 47%;
	
}
.subdiv2{
	background: #A31986;
	margin: 6%;
	width: 90%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
}


img{
		height: 36%;
		width: 60%;
		margin-top: 10%;
		margin:5%;
	}
	ul
	{
		text-align: left;
	}
}
/*mobile*/
	@media screen and  (min-width: 481px) and (max-width: 580px){
	body
{
	background: #A31986;
}
.maindiv{
	background:  #19A388;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-around;
	margin: 5%;
	border-radius: 5%;
}
.subdiv1{
	background: #2E1FAB;
	margin: 3%;
	width: 41%;
	border-radius: 5%;
	text-align: center;
	height: 47%;
	
}
.subdiv2{
	background: #26A13B;
	margin: 6%;
	width: 90%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
}


img{
		height: 36%;
		width: 60%;
		margin-top: 10%;
		margin:5%;
	}
	ul
	{
		text-align: left;
	}
}

